{% extends "core/layout.html" %}
{% load static %}
{% block extra_css%}
  <link rel="stylesheet" href="{% static 'core/css/style_pages.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/style_aboutus.css' %}">
  {%endblock%}

{% block title %}Nosotros{% endblock %}
{% block content %}

    <div class="Main">
      <h2 class="title-section">NOSOTROS INTEGRAMOS EL EQUIPO DE MOCHILEANDO</h2>
      <div class="articles">
        <article>
          <div class="article-wrapper img-team">
            <img id="img-team" src="{% static 'core/images/team.png' %}" style="border-radius: 16px" alt="Team">
            <div class="article-body">
              <h2>¿Buscas un lugar especial para tus vacaciones?</h2>
              <p>
                mochileando.com no es el sitio promedio de reserva para tus vacaciones,
                aqui encontrarás todo lo que estas buscando y mas,
                lugares increibles para conocer y tickets para excurciones fantasticas.
                <br><br>
                Tenemos la crème de la crème de los hostels y recorridos guiados en toda
                Latinoamerica con tickets listos para comprar ahora mismo.
                <br><br>

                También somos más prácticos que los sitios promedio. Desglosamos toda la información
                que necesita saber en pequeños fragmentos y te brindamos consejos y trucos
                de expertos para que puedas reservar feliz, sin dolores de cabeza.
              </p>
              <br>
              <br>
            </div>
          </div>
        </article>
      </div>
    </div>
  <script src="{% static 'core/js/index.js' %}"></script>

    {% endblock %}