<div class="Footer">
    <div class="left_f footer-col ta-l ">
        <div class="footer-logo-container">
            <a href="/home.html" class="active">
                <lord-icon src="https://cdn.lordicon.com/vkweisbr.json" trigger="loop-on-hover" delay="2000"
                    colors="outline:#121331,primary:#646e78,secondary:#2ca58d,tertiary:#1d4e89"
                    style="width:50px;height:50px">
                </lord-icon>
            </a>
            <h3 class="text-mochileando">Mochileando</h3>
        </div>
        <p class="text-presentation">Somos la empresa de viajes líder en Latinoamérica que desde hace más de 4 años
            apuesta por el desarrollo tecnológico para revolucionar el mundo de las experiencias. </p>
        <p class='rights-text'>© 1999-2023 Mochileando. All right reserved.</p>
    </div>
    <div class="center_f footer-col ta-l">
        <h3>Siguenos en nuestras redes</h3>

        <a href="https://www.facebook.com/" target="_blank"><i class="fab icons-styles fa-facebook"> Facebook</i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab icons-styles fa-instagram"> Instagram</i></a>
        <a href="https://twitter.com/?lang=en" target="_blank"><svg class="svg-icon" width="22" height="22"
                viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect class="svg-icon-bg" x="0.5" y="0.5" width="21" height="21" rx="10.5" fill="transparent"></rect>
                <path
                    d="M5.02929 5L9.66241 11.6187L5 17H6.04927L10.1311 12.2887L13.4292 17H17L12.1063 10.009L16.446 5H15.3967L11.6375 9.3391L8.60005 5H5.02929ZM6.57235 5.82578H8.21282L15.4568 16.174H13.8163L6.57235 5.82578Z"
                    fill="#9B9B9B"></path>
                <rect class="svg-icon-border" x="0.5" y="0.5" width="21" height="21" rx="10.5" stroke="#9B9B9B"></rect>
            </svg></a>
    </div>
    <div class="rigth_f footer-col ta-l">
        <h3>Mapa del sitio</h3>
        <a class="our-site" href="{% url 'home' %}">Home</a>
        <a class="our-site" href="{% url 'login' %}">login</a>
        <a class="our-site" href="{% url 'contacto' %}">Contáctenos</a>
        <a class="our-site" href="{% url 'acerca_de' %}">Acerca de nosotros</a>
        {% if perms.core.view_destinos %}
            <a class="our-site" href="{% url 'mostrar_destinos' %}">Administracion</a>
        {% endif %}
    </div>
</div>