{% extends "core/layout.html" %}
{% load static %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'core/css/style_header.css' %}">
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
<link rel="stylesheet" href="{% static 'core/css/style_footer.css' %}">
{%endblock%}
{% block content %}
<div class="Main">
    {% for paquete in travel %}
    {% if paquete.usuarios_id == user.id %}
        <p><b> {{user.username}} {{paquete.destino}} {{paquete.fecha_desde}} {{paquete.fecha_hasta}} {{paquete.valor}}</b> ***</p>
    {% endif %}
    {% endfor %}

    <h2 class="title-section">NUESTROS DETINOS MÁS ELIGIDOS</h2>
    <section class="articles" id="id-section-elegidos">
        <table align="center" style="width: 100%;margin: 20px 40px;">
            <tbody>
                {% for destino in destinos %}
                {% if destino.tipo == '1' %}
                <tr>
                    <td>{{destino.description}}</td>

                    <td>
                        {% if destino.urlImg %}
                        <img src="{{destino.urlImg.url}}" style="height:150px; width:150px;aspect-ratio: 16 / 9;"
                            alt="...">
                        {% else %}
                        <img src="" style="height:50px; width:50px;" alt="...">
                        {% endif %}
                    </td>
                    <td>
                        {% if user.is_authenticated %}
                            <a href="travel/travel_new">
                                <img src="{% static 'core/images/compra-en-linea.png' %}" style="height:80px; width:80px;"
                                    alt="...">
                            </a>
                        {% endif %}
                        <td>{{destino.city}}</td>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

    </section>

    <h2 class="title-section">NUESTRAS RECOMENDACIONES PARA TÍ</h2>
    <section class="articles" id="id-section-recomendaciones">
        <table align="center" style="margin: 20px 40px;">
            <tbody>
                {% for destino in destinos %}
                {% if destino.tipo == '2' %}
                <tr>
                    <td>{{destino.description}}</td>

                    <td>
                        {% if destino.urlImg %}
                        <img src="{{destino.urlImg.url}}" style="height:150px; width:150px;aspect-ratio: 16 / 9;"
                            alt="...">
                        {% else %}
                        <img src="" style="height:50px; width:50px;" alt="...">
                        {% endif %}
                    </td>
                    <td>
                        {% if user.is_authenticated %}
                            <a href="travel/travel_new">
                                <img src="{% static 'core/images/compra-en-linea.png' %}" style="height:80px; width:80px;"
                                    alt="...">
                            </a>
                        {% endif %}
                        <td>{{destino.city}}</td>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
<script src="{% static 'core/js/index.js' %}"></script>
{% endblock %}