{% extends 'core/layout.html'%}
{% load static %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'core/css/style_pages.css' %}">
<link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
{%endblock%}

{% block title %}Registrarse{% endblock %}

{%block content %}

<h1>Registrarse</h1>
<form action="{% url 'signup' %}" method='POST'>
    {% csrf_token %}

    {{ form.as_p }}
    <button class="btn" type="submit">Registrarse</button>

</form>
<br>
<br>
<br>
<script src="{% static 'core/js/index.js' %}"></script>

{% endblock %}